@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Rock | Paper | Scissors</h1>

    <!--Display Score of pc1 and pc2-->
    <div class="score">
        <div class="pcScore1">
            <h2>Computer 1</h2>
            <p class="pc1-count count">0</p>

        </div>
        <div class="pcScore2">
            <h2>Computer 2</h2>
            <p class="pc2-count count">0</p>

        </div>
    </div>

    <div class="move">Click the button below to start the game</div>

    <!--Number of moves left before game ends-->
    <div class="movesleft">Moves Left: 3 </div>

    <!--Player should press start-->
    <div class="options">
        <button class="start">Start Game</button>
    </div>

    <!--Final result of game-->
    <div class="result"></div>

    <!--Reload the game-->
    <button class="reload"></button>

</div>