@model GameResults;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-6">
            Player 1
        </div>
        <div class="col-md-6">
            Player 2
        </div>
    </div>
</div>
